*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#051226;
color:white;
overflow-x:hidden;
}

/* HEADER */

header{
position:fixed;
top:0;
left:0;
width:100%;
height:90px;
background:#03101f;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 60px;
z-index:999;
box-shadow:0 0 15px rgba(0,0,0,.4);
}

.logo{
display:flex;
align-items:center;
gap:15px;
}

.logo-circle{
width:70px;
height:70px;
border:3px solid #d4af37;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:35px;
font-weight:bold;
color:#d4af37;
}

.logo-text h2{
color:#d4af37;
font-size:38px;
}

.logo-text p{
font-size:13px;
letter-spacing:2px;
}

nav ul{
display:flex;
list-style:none;
gap:40px;
}

nav ul li a{
text-decoration:none;
color:white;
font-size:20px;
font-weight:600;
transition:.3s;
}

nav ul li a:hover,
.active{
color:#d4af37;
}

.menu-btn{
font-size:35px;
color:white;
cursor:pointer;
}

/* HERO */

.hero{
height:100vh;
background:
linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.55)
),
url("whitemandap3.jpg");

background-size:cover;
background-position:center;
position:relative;
display:flex;
align-items:center;
padding-left:80px;
}

.hero-content{
max-width:700px;
z-index:10;
}

.hero-content h4{
color:#d4af37;
font-size:28px;
margin-bottom:20px;
}

.hero-content h1{
font-size:100px;
line-height:1;
margin-bottom:10px;
color:#1E90FF;
}

.hero-content h2{
font-size:70px;
color:#B8860B
font-family:cursive;
margin-bottom:25px;
}

.line{
width:220px;
height:4px;
background:#d4af37;
margin-bottom:25px;
}

.hero-content p{
font-size:26px;
line-height:1.7;
margin-bottom:10px;
}

.hero-buttons{
margin-top:35px;
display:flex;
gap:20px;
}

.btn{
padding:18px 40px;
text-decoration:none;
font-weight:bold;
border-radius:5px;
font-size:18px;
transition:.3s;
}

.gold-btn{
background:#d4af37;
color:#000;
}

.gold-btn:hover{
transform:translateY(-4px);
}

.border-btn{
border:2px solid #d4af37;
color:white;
}

.border-btn:hover{
background:#d4af37;
color:black;
}

/* WAVE */

.wave{
margin-top:-120px;
position:relative;
z-index:50;
}

.wave svg{
width:100%;
display:block;
}

/* FEATURES */

.features{
background:#03101f;
padding:80px 50px;
display:grid;
grid-template-columns:
repeat(4,1fr);
gap:25px;
}

.feature-box{
border:1px solid rgba(255,255,255,.1);
padding:40px 25px;
text-align:center;
background:#071728;
transition:.4s;
}

.feature-box:hover{
transform:translateY(-10px);
border-color:#d4af37;
}

.feature-box i{
font-size:55px;
color:#d4af37;
margin-bottom:20px;
}

.feature-box h3{
color:#d4af37;
margin-bottom:15px;
font-size:25px;
}

.feature-box p{
font-size:18px;
line-height:1.7;
}
/* ABOUT */

.section{
padding:100px 70px;
background:#051226;
text-align:center;
}

.section h2{
font-size:50px;
color:#d4af37;
margin-bottom:30px;
}

.section p{
max-width:900px;
margin:auto;
font-size:22px;
line-height:1.8;
}

/* SERVICES */

.service-grid{
margin-top:50px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}

.service-grid div{
background:#071728;
padding:35px;
border:1px solid rgba(255,255,255,.1);
font-size:22px;
font-weight:600;
transition:.4s;
}

.service-grid div:hover{
border-color:#d4af37;
transform:translateY(-8px);
}

/* GALLERY */

.gallery-grid{
margin-top:50px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.gallery-grid img{
width:100%;
height:280px;
object-fit:cover;
border-radius:10px;
transition:.4s;
cursor:pointer;
}

.gallery-grid img:hover{
transform:scale(1.05);
}

/* CONTACT */

form{
max-width:800px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
}

form input,
form textarea{
padding:18px;
background:#071728;
border:1px solid rgba(255,255,255,.1);
color:white;
font-size:18px;
outline:none;
}

form textarea{
height:180px;
resize:none;
}

form button{
padding:18px;
background:#d4af37;
border:none;
font-size:20px;
font-weight:bold;
cursor:pointer;
}

/* WHATSAPP */

.whatsapp{
position:fixed;
right:25px;
bottom:25px;
width:70px;
height:70px;
background:#25D366;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:38px;
color:white;
text-decoration:none;
z-index:999;
box-shadow:0 0 20px rgba(0,0,0,.4);
}

/* FOOTER */

footer{
background:#03101f;
padding:25px;
text-align:center;
font-size:18px;
}

/* MOBILE */

@media(max-width:768px){

body{
background:#ffffff;
color:#000000;
}

header{
padding:0 15px;
background:#ffffff;
}

nav{
display:none;
}

.hero{
height:75vh;
padding:20px;
background-position:center center;
}

.hero-content{
max-width:100%;
}

.hero-content h4{
font-size:16px;
}

.hero-content h1{
font-size:42px;
color:#000000;
}

.hero-content h2{
font-size:30px;
color:#d4af37;
font-family:"Brush Script MT", cursive;
}

.hero-content p{
font-size:16px;
line-height:1.5;
color:#000000;
}

.hero-buttons{
flex-wrap:wrap;
}

.features{
grid-template-columns:repeat(2,1fr);
padding:40px 15px;
gap:15px;
background:#ffffff;
}

.feature-box{
padding:20px 10px;
background:#ffffff;
}

.feature-box p{
font-size:14px;
line-height:1.4;
}

.section{
padding:50px 15px;
background:#ffffff;
}

.section p{
color:#000000;
}

.service-grid{
grid-template-columns:1fr;
}

.gallery-grid{
grid-template-columns:1fr;
}

.logo-text h2{
font-size:22px;
}

.logo-text p{
color:#000000;
}

.logo-circle{
width:50px;
height:50px;
font-size:25px;
}

footer{
background:#ffffff;
color:#000000;
}

}